<div class="row">
  <div class="col-md-6">

    <h1>Student Name: <%= @student.name %></h1>
    <h3>Student Grade: <%= @student.grade %></h3>

    <h3>Curriculums</h3>
      <% @student.curriculums.each do |curriculum| %>
        <%= link_to curriculum.title, student_curriculum_path(@student, curriculum) %>
      <% end %>
  </div>

  <div class="col-md-6">
    <%= link_to "+ Curriculum", new_student_curriculum_path(@student), class: 'btn btn-primary' %>
    <%= link_to "Edit Student", edit_student_path(@student), class: 'btn btn-success' %>
    <%= link_to "- Student", @student, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this student?'} %>
  </div>
</div>
